@charset "UTF-8";
/**
* SCSS class for import all different parts of the SCSS code to create the CSS code for the project
*
**/
body {
  height: 100%;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  margin: 0;
  overflow: hidden; }

.modal-dialog {
  width: 150px;
  text-align: center;
  transform: translate(0, 250px) !important; }

.main-container {
  width: calc(100vw - 175px);
  height: 100vh;
  overflow: hidden;
  overflow-y: scroll; }
  .main-container .container {
    width: 100%;
    padding: 0px; }
  .main-container .nav-tabs {
    border-bottom: 1px solid grey;
    background: white;
    text-align: center;
    position: fixed;
    width: calc(100vw - 175px);
    z-index: 2; }
    .main-container .nav-tabs li {
      display: inline-block;
      margin: 0px;
      float: inherit; }
      .main-container .nav-tabs li a {
        color: #555; }
      .main-container .nav-tabs li.active a {
        font-weight: 500;
        border: 0;
        border-bottom: 2px solid #03a9db; }

.manager-container {
  width: calc(100vw - 175px);
  height: 100vh;
  overflow: hidden;
  display: inline-block; }

.sidebar {
  width: 175px;
  height: 100vh;
  background-color: #1d2532;
  color: white;
  font-weight: 400;
  display: inline-block;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.16), 0px 3px 10px rgba(0, 0, 0, 0.23); }
  .sidebar .header {
    background-color: #232c3d;
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 6px;
    padding-left: 5px;
    font-size: 20px;
    font-weight: 600; }
  .sidebar ul {
    list-style: none;
    padding-left: 5px;
    margin: 0;
    padding-top: 10px; }
    .sidebar ul .tooltip .tooltip-inner {
      background: white;
      color: black; }
    .sidebar ul .tooltip .tooltip-arrow {
      display: none; }
    .sidebar ul .icon {
      fill: white;
      margin-left: 20px;
      margin-right: 20px;
      margin-top: 10px;
      margin-bottom: 10px; }
      .sidebar ul .icon:hover {
        fill: #a3afb7; }
      .sidebar ul .icon.active {
        fill: grey; }
    .sidebar ul ul {
      padding-top: 10px;
      padding-bottom: 16px; }
      .sidebar ul ul li span {
        color: white;
        border-left: 2px solid transparent;
        height: 25px;
        display: block;
        line-height: 2;
        padding-left: 5px; }
        .sidebar ul ul li span:hover {
          color: #a3afb7; }
    .sidebar ul h5 {
      border-top: 1px solid white;
      padding-top: 16px;
      margin: 0;
      margin-right: 5px; }
    .sidebar ul svg {
      fill: white; }
    .sidebar ul li .md-button.md-icon-button  {
      margin: 0px 0px !important; }

.sidebarRight .sidebarRight-header {
  min-height: 44px;
  background: #232c3d; }
  .sidebarRight .sidebarRight-header .title {
    margin: 0px;
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 50px;
    color: white; }
.sidebarRight .container {
  width: 320px; }
  .sidebarRight .container .tab-content {
    padding-top: 15px; }
    .sidebarRight .container .tab-content h5 {
      margin: 0px;
      margin-bottom: 10px; }
    .sidebarRight .container .tab-content ul {
      padding: 0; }
      .sidebarRight .container .tab-content ul li {
        padding-bottom: 5px; }
    .sidebarRight .container .tab-content .ul-objects {
      display: flex;
      padding: 0;
      flex-flow: column; }
      .sidebarRight .container .tab-content .ul-objects li {
        padding-bottom: 5px;
        padding-top: 5px;
        border-bottom: 1px solid black;
        font-size: 12px; }
        .sidebarRight .container .tab-content .ul-objects li .li-option {
          display: inline-flex;
          width: 30%; }
          .sidebarRight .container .tab-content .ul-objects li .li-option.disabled {
            color: #a3afb7; }
          .sidebarRight .container .tab-content .ul-objects li .li-option.on {
            color: green; }
    .sidebarRight .container .tab-content .chart {
      padding-bottom: 20px; }
  .sidebarRight .container .nav-tabs {
    border-bottom: 1px solid grey;
    background: white; }
    .sidebarRight .container .nav-tabs li {
      display: inline-block;
      margin: 0px;
      float: inherit; }
      .sidebarRight .container .nav-tabs li a {
        color: #555; }
      .sidebarRight .container .nav-tabs li.active a {
        font-weight: 500;
        border: 0;
        border-bottom: 2px solid #03a9db; }

.viewer-container {
  display: inline-block;
  height: 100vh;
  position: absolute;
  width: calc(100vw - 175px);
  background-color: #e1e9eb;
  /*  .sidebar-right {
        background-color: $color-brown-50;
        height: $sidebar-height;
        width: $sidebar-right-width;
        position: absolute;
        right: -$sidebar-right-width;
        top: 0;
        z-index: $second-layer;
        transition: 1s;
        &.active {
            transition: 1s;
            right: 0;
        }
        .close-btn {
            height: 48px;
            width: 48px;
            background-color: $divider-color;
            height: 48px;
            width: 48px;
            text-align: center;
            &:hover {
                color: white;
            }
        }
        .informations {
            border-top: 1px solid $divider-color;
            h4 {
                text-align: center;
                color: white;
            }
            ul {
                list-style: none;
                padding: 0;
                li {
                    border-bottom: 1px solid $divider-color;
                    text-decoration: none;
                    margin-left: 40px;
                    margin-right: 40px;
                    margin-top: 10px;
                    color: white;
                }
            }
        }
    }*/ }
  .viewer-container .content-viewer {
    padding-top: 15px;
    padding-left: 15px; }

.chart-viewer {
  padding-top: 15px;
  display: block;
  height: 100%;
  overflow-y: scroll; }
  .chart-viewer h4, .chart-viewer h5 {
    margin-left: 15px; }
  .chart-viewer .charts-box {
    display: flex;
    flex-flow: row;
    padding-bottom: 16px; }
    .chart-viewer .charts-box .chart-container {
      margin-left: 15px;
      width: 350px;
      text-align: center;
      background-color: white;
      border-radius: 4px;
      -webkit-box-shadow: 3px 3px 8px 0px #a8a8a8;
      -moz-box-shadow: 3px 3px 8px 0px #a8a8a8;
      box-shadow: 3px 3px 8px 0px #a8a8a8;
      height: 180px; }
      .chart-viewer .charts-box .chart-container.bigger {
        width: 700px; }
    .chart-viewer .charts-box .results-container {
      text-align: left; }
      .chart-viewer .charts-box .results-container h5 {
        margin: 0;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 10px; }
      .chart-viewer .charts-box .results-container p {
        padding-left: 10px;
        padding-top: 10px;
        font-weight: 500; }
        .chart-viewer .charts-box .results-container p span {
          font-weight: 500;
          color: red; }
          .chart-viewer .charts-box .results-container p span.positive {
            color: green; }

/*# sourceMappingURL=facilityViewer.css.map */
