<div class="main-container">
  <div class="container">

    <ul class="nav nav-tabs">
      <li class="active">
        <a data-toggle="tab" href="#viewer">Viewer</a>
      </li>
      <li>
        <a data-toggle="tab" href="#dashboard">Dashboard</a>
      </li>
    </ul>

    <div class="tab-content">

      <div id="viewer" class="tab-pane fade in active" style="margin-top: 45px;">
        <div class="content-viewer">
          <canvas class="emscripten" id="canvas" oncontextmenu="event.preventDefault()" height="500px" width="708px"></canvas>
          <script src="Release/UnityLoader.js" />
          <img src="images/spectrum.png" alt="Spectrum" style="width: 40%;"/>
        </div>
      </div>

      <div id="dashboard" class="tab-pane fade" ng-controller="DashboardCtrl" style="margin-top: 45px;">
        <div class="container">
          <ul class="nav nav-tabs">
            <li class="active">
              <a data-toggle="tab" href="#years">Years</a>
            </li>
            <li>
              <a data-toggle="tab" href="#months">Months</a>
            </li>
            <li>
              <a data-toggle="tab" href="#days">Days</a>
            </li>
          </ul>

          <div class="tab-content">

            <div id="years" class="tab-pane fade in active" style="margin-top: 45px;">
              <md-datepicker ng-model="dates.startYearDate" md-placeholder="Enter date" md-min-date="minDate" md-max-date="maxDate"></md-datepicker>
              <span>to</span>
              <md-datepicker ng-model="dates.endYearDate" md-placeholder="Enter date" md-min-date="minDate" md-max-date="maxDate"></md-datepicker>
              <button ng-click="applyYears()">Apply</button>

              <div class="chart-viewer">
                <div class="charts-box">
                  <div class="chart-container">
                    <canvas
                      id="yearBarConsumption"
                      class="chart chart-bar"
                      chart-data="yearBarConsumption"
                      chart-labels="yearBarLabels"
                      chart-legend="true"
                      chart-series="consumptionsSeries"
                      chart-options="yearBarConsumptionOptions"
                      chart-colors="colors"
                    >
                    </canvas>
                  </div>
                  <div class="chart-container">
                    <canvas
                      id="yearBarCosts"
                      class="chart chart-bar"
                      chart-data="yearBarCosts"
                      chart-labels="yearBarLabels"
                      chart-legend="true"
                      chart-series="costsSeries"
                      chart-options="yearBarCostsOptions"
                      chart-colors="colors"
                    >
                    </canvas>
                  </div>
                </div>

                <div class="charts-box">
                  <div class="chart-container">
                    <canvas
                      id="pie"
                      class="chart chart-pie"
                      chart-data="pieYearData"
                      chart-labels="pieChartLabels"
                      chart-options="pieYearOptions"
                      chart-colors="colors"
                    >
                    </canvas>
                  </div>
                  <div class="chart-container results-container">
                    <h5>Year Results</h5>
                    <md-divider></md-divider>
                    <p>Consumption Results: <span ng-class="{'positive': yearResults <= 0}" ng-if="yearResults !== null">{{yearResults}} %</span></p>
                    <md-divider></md-divider>
                    <p>Costs Results: <span ng-class="{'positive': yearCosts <= 0}" ng-if="yearCosts !== null">{{yearCosts}} €</span></p>
                  </div>
                </div>
              </div>
            </div>

            <div id="months" class="tab-pane fade in active" style="margin-top: 45px;">
              <md-datepicker ng-model="dates.startYearDate" md-placeholder="Enter date" md-min-date="minDate" md-max-date="maxDate"></md-datepicker>
              <span>to</span>
              <md-datepicker ng-model="dates.endYearDate" md-placeholder="Enter date" md-min-date="minDate" md-max-date="maxDate"></md-datepicker>
              <button ng-click="applyYears()">Apply</button>

              <div class="chart-viewer">
                <div class="charts-box">
                  <div class="chart-container">
                    <canvas
                      id="line"
                      class="chart chart-line"
                      chart-data="monthlyConsumptionLineData"
                      chart-labels="months"
                      chart-series="consumptionsSeries"
                      chart-options="monthlyConsumptionLineOptions"
                      chart-colors="colors"
                    >
                    </canvas>
                  </div>
                  <div class="chart-container">
                    <canvas
                      id="line"
                      class="chart chart-line"
                      chart-data="monthlyCostsLineData"
                      chart-labels="months"
                      chart-series="costsSeries"
                      chart-options="monthlyCostsLineOptions"
                      chart-colors="colors"
                    >
                    </canvas>
                  </div>
                </div>
                <div class="charts-box">
                  <div class="chart-container results-container">
                    <h5>Monthly Results</h5>
                    <md-divider></md-divider>
                    <p>Average Consumptions: {{monthlyConsumptionResults}} kWh</p>
                    <md-divider></md-divider>
                    <p>Average Costs: {{monthlyCostsResults}} €</span></p>
                  </div>
                  <div class="chart-container">
                    <canvas
                      id="line"
                      class="chart chart-line"
                      chart-data="monthsCompareConsumptionLine"
                      chart-labels="months"
                      chart-series="monthsCompareConsumptionSeries"
                      chart-options="monthsCompareConsumptionLineOptions"
                      chart-colors="colors"
                    >
                    </canvas>
                  </div>
                </div>
            </div>
            </div>

            <div id="days" class="tab-pane fade in active" style="margin-top: 45px;">
              <md-datepicker ng-model="dates.startYearDate" md-placeholder="Enter date" md-min-date="minDate" md-max-date="maxDate"></md-datepicker>
              <span>to</span>
              <md-datepicker ng-model="dates.endYearDate" md-placeholder="Enter date" md-min-date="minDate" md-max-date="maxDate"></md-datepicker>
              <button ng-click="applyYears()">Apply</button>

              <div class="chart-viewer">
                <div class="charts-box">
                  <div class="chart-container">
                    <canvas
                      id="line"
                      class="chart chart-line"
                      chart-data="dailyCurrentConsumptionLineData"
                      chart-labels="days"
                      chart-series="dailyCurrentConsumptionSeries"
                      chart-options="dailyCurrentConsumptionOptions"
                      chart-colors="colors"
                    >
                    </canvas>
                  </div>
                  <div class="chart-container">
                    <canvas
                      id="line"
                      class="chart chart-line"
                      chart-data="dailyCurrentCostsLineData"
                      chart-labels="days"
                      chart-series="dailyCurrentCostsSeries"
                      chart-options="dailyCurrentCostsOptions"
                      chart-colors="colors"
                    >
                    </canvas>
                  </div>
                </div>
                <div class="charts-box">
                  <div class="chart-container">
                    <canvas
                    id="line"
                    class="chart chart-line"
                    chart-data="dailyCostsLineData"
                    chart-labels="days"
                    chart-series="dailyCostSeries"
                    chart-options="dailyCostsOptions"
                    chart-colors="colors"
                    >
                    </canvas>
                  </div>
                  <div class="chart-container">
                    <canvas
                      id="line"
                      class="chart chart-line"
                      chart-data="dailyConsumptionLineData"
                      chart-labels="days"
                      chart-series="dailyConsumptionSeries"
                      chart-options="dailyConsumptionOptions"
                      chart-colors="colors"
                    >
                    </canvas>
                  </div>
              </div>
              <div class="charts-box">
                <div class="chart-container results-container">
                  <h5>Daily Comparition</h5>
                  <md-divider></md-divider>
                  <p>Average Consumptions: <span ng-class="{'positive': averageMonthResults <= 0}" ng-if="averageMonthResults !== null">{{averageMonthResults}} %</span></p>
                  <md-divider></md-divider>
                  <p>Costs Results: <span ng-class="{'positive': monthCosts <= 0}" ng-if="monthCosts !== null">{{monthCosts}} €</span></p>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<md-sidenav
  class="md-sidenav-right sidebarRight"
  md-component-id="right"
  md-disable-backdrop md-whiteframe="4"
>
  <md-toolbar class="sidebarRight-header">
    <md-button class="md-icon-button sidebar-button" aria-label="Settings" ng-click="closeSidenav()">
      <md-icon md-svg-icon="images/icons/close.svg"></md-icon>
    </md-button>
    <h4 class="title">{{name}}</h4>
  </md-toolbar>
  <div class="container">

    <ul class="nav nav-tabs">
      <li class="active">
        <a data-toggle="tab" href="#informations">Informations</a>
      </li>
      <li>
        <a data-toggle="tab" href="#objects">Objects</a>
      </li>
    </ul>

    <div class="tab-content">

      <div id="informations" class="tab-pane fade in tab-content active">
        <div id="roomInformations">
          <ul>
            <li><b>Ocupation:</b> {{values.ocupation}} p</li>
            <li><b>Temperature:</b> {{values.temperature}} ºC</li>
            <li><b>Humidity:</b> {{values.humidity}} %</li>
            <li><b>Consumption:</b> {{values.consumption}} kWh</li>
          </ul>
        </div>

        <div ng-controller="DashboardCtrl">
            <canvas
              id="yearBarConsumption"
              class="chart chart-bar"
              chart-data="yearBarConsumption"
              chart-labels="yearBarLabels"
              chart-legend="true"
              chart-series="consumptionsSeries"
              chart-options="yearBarConsumptionOptions"
              chart-colors="colors"
            >
            </canvas>
            <canvas
              id="yearBarCosts"
              class="chart chart-bar"
              chart-data="yearBarCosts"
              chart-labels="yearBarLabels"
              chart-legend="true"
              chart-series="costsSeries"
              chart-options="yearBarCostsOptions"
              chart-colors="colors"
            >
            </canvas>
        </div>
      </div>

      <div id="objects" class="tab-pane fade in tab-content">
        <ul class="ul-objects">
          <li>
            <div class="li-option disabled">
              Name
            </div>
            <div class="li-option disabled">
              Status
            </div>
            <div class="li-option disabled">
              Estimated Consumption
            </div>
          </li>
          <li ng-repeat="object in objects">
            <div class="li-option">
              {{object.name}}
            </div>
            <div class="li-option" ng-class="{'on' : object.status === 'Active'}">
              {{object.status}}
            </div>
            <div class="li-option">
              {{object.consumption}} kWh
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</md-sidenav>
