<!doctype html>
<html lang="en-us">

<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>3D Facility Viewer</title>

    <link rel="stylesheet" href="TemplateData/style.css">
    <link rel="shortcut icon" href="TemplateData/favicon.ico" />
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/components-font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/facilityViewer.css">
    <link rel="stylesheet" href="node_modules/angular-material/angular-material.min.css">


    <script src="TemplateData/UnityProgress.js"></script>
    <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="node_modules/angular/angular.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="node_modules/chart.js/dist/Chart.min.js"></script>
    <script type="text/javascript" src="node_modules/angular-animate/angular-animate.min.js"></script>
    <script type="text/javascript" src="node_modules/angular-aria/angular-aria.min.js"></script>
    <script src="node_modules/angular-chart.js/dist/angular-chart.min.js"></script>
    <script src="node_modules/angular-material/angular-material.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/controllers/viewer.js"></script>
    <script type="text/javascript" src="js/controllers/dashboard.js"></script>
</head>

<body ng-app="FacilityManager">
    <main id="controller" ng-controller="ViewerCtrl" style="overflow:hidden">
      <div class="wrapper">
        <div class="sidebar">
          <div class="header">
              Facility Manager
          </div>
          <ul class="sidebar-nav">
              <li>
                <h5 style="border-top: none !important">Cameras</h5>

                <div>
                  <svg ng-class="{'active': camera === 'orbit'}" class="icon" height="24" viewBox="0 0 24 24" width="24" data-toggle="tooltip" title="Orbit Camera" ng-click="setOrbitMode()">
                    <path d="M7.34 6.41L.86 12.9l6.49 6.48 6.49-6.48-6.5-6.49zM3.69 12.9l3.66-3.66L11 12.9l-3.66 3.66-3.65-3.66zm15.67-6.26C17.61 4.88 15.3 4 13 4V.76L8.76 5 13 9.24V6c1.79 0 3.58.68 4.95 2.05 2.73 2.73 2.73 7.17 0 9.9C16.58 19.32 14.79 20 13 20c-.97 0-1.94-.21-2.84-.61l-1.49 1.49C10.02 21.62 11.51 22 13 22c2.3 0 4.61-.88 6.36-2.64 3.52-3.51 3.52-9.21 0-12.72z"/>
                    <path d="M0 0h24v24H0z" fill="none"/>
                  </svg>

                  <svg ng-class="{'active': camera === 'normal'}" class="icon" height="24" viewBox="0 0 24 24" width="24" data-toggle="tooltip" title="Normal Camera" ng-click="setNormalMode()">
                      <path d="M0 0h24v24H0z" fill="none"/>
                      <path d="M12.01 5.5L10 8h4l-1.99-2.5zM18 10v4l2.5-1.99L18 10zM6 10l-2.5 2.01L6 14v-4zm8 6h-4l2.01 2.5L14 16zm7-13H3c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h18c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 16.01H3V4.99h18v14.02z"/>
                  </svg>
                </div>
              </li>
              <li>
                <h5>Views</h5>
                <svg ng-class="{'active': boxesView }" class="icon" height="24" viewBox="0 0 24 24" width="24" ng-click="toggleBoxesView()" data-toggle="tooltip" title="Overall View">
                    <path d="M0 0h24v24H0z" fill="none"/>
                    <path d="M3 13h8V3H3v10zm0 8h8v-6H3v6zm10 0h8V11h-8v10zm0-18v6h8V3h-8z"/>
                </svg>

                <svg ng-class="{'active': objectsColors }" class="icon" height="24" viewBox="0 0 24 24" width="24" ng-click="highlightObjects()" data-toggle="tooltip" title="Objects Status">
                    <path d="M0 0h24v24H0V0zm0 0h24v24H0V0z" fill="none"/>
                    <path d="M7 7.07L8.43 8.5c.91-.91 2.18-1.48 3.57-1.48s2.66.57 3.57 1.48L17 7.07C15.72 5.79 13.95 5 12 5s-3.72.79-5 2.07zM12 1C8.98 1 6.24 2.23 4.25 4.21l1.41 1.41C7.28 4 9.53 3 12 3s4.72 1 6.34 2.62l1.41-1.41C17.76 2.23 15.02 1 12 1zm2.86 9.01L9.14 10C8.51 10 8 10.51 8 11.14v9.71c0 .63.51 1.14 1.14 1.14h5.71c.63 0 1.14-.51 1.14-1.14v-9.71c.01-.63-.5-1.13-1.13-1.13zM15 20H9v-8h6v8z"/>
                </svg>
              </li>
              <li>
                <h5>Rooms</h5>
                <ul>
                  <li ng-repeat="space in spaces">
                    <span ng-click="selectRoom(space)">{{space.spaceName}}</span>
                  </li>
                </ul>
              </li>
              <li>
                <h5>Floors</h5>
                <ul>
                  <li ng-repeat="space in spaces">
                    <span ng-click="selectLevel(floor)">{{floor}}</span>
                  </li>
                </ul>
              </li>
          </ul>
        </div>
        <div class="viewer-container" ui-view></div>
      </div>
    </main>
  </body>
</html>
