<!doctype html>
<html lang="en-us">

<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>3D Facility Viewer</title>

    <link rel="stylesheet" href="TemplateData/style.css">
    <link rel="shortcut icon" href="TemplateData/favicon.ico" />
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/components-font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/facilityViewer.css">

    <script src="TemplateData/UnityProgress.js"></script>
    <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
</head>

<body ng-app="FacilityManager">
    <main id="controller" ng-controller="FacilityMonitor" style="overflow:hidden">
        <div class="header">
            <h3>3D Facility Manager</h3>
        </div>
        <div class="sidebar">
            <div class="nav-modes">
                <span class="nav-modes-title">Camera Mode</span>
                <div class="nav-modes-icon fa fa-repeat fa-4" ng-click='setOrbitMode()' data-toggle="tooltip" data-placement="bottom" title="Orbit Mode"></div>
                <div class="nav-modes--icon fa fa-arrows-alt fa-4" ng-click='setNormalMode()' data-toggle="tooltip" data-placement="bottom" title="Normal Mode"></div>
            </div>
            <div class="container">
                <div class="panel-group">
                    <div class="panel" data-toggle="collapse" href="#collapse1">
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                        <span>Spaces</span>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse">
                        <div class="panel-entry" ng-repeat="space in spaces">
                            <span ng-click="selectRoom(space)">- {{space.spaceName}}</span>
                        </div>
                    </div>
                    <div class="panel" data-toggle="collapse" href="#collapse-floors">
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                        <span>Floors</span>
                    </div>
                    <div id="collapse-floors" class="panel-collapse collapse">
                        <div class="panel-entry" ng-repeat="floor in floors">
                            <span ng-click="selectLevel(floor)"> - {{floor}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="viewer-container" ui-view></div>
    </main>

</body>

</html>