$sidebar-width: 175px;
$sidebar-height: 100vh;

$header-height: 44.5px;

$viewer-width: calc(100vw - #{$sidebar-width});
$viewer-height: 100vh;

$page-width: calc(100% - #{$sidebar-width});

$sidebar-right-width: 300px;

//Z-index-layers

$first-layer: 1;
$second-layer: 10;
$third-layer: 50;
$fourth-layer: 100;
$fifth-layer: 150;
$sixth-layer:200;
