.sidebar {
  width: $sidebar-width;
  height: $sidebar-height;
  background-color: #1d2532;
  color: white;
  font-weight: 400;
  display: inline-block;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.16), 0px 3px 10px rgba(0, 0, 0, 0.23);

  .header {
    background-color: rgb(35, 44, 61);
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 6px;
    padding-left: 5px;
    font-size: 20px;
    font-weight: 600;
  }

  ul {
    list-style: none;
    padding-left: 5px;
    margin: 0;
    padding-top: 10px;

    .tooltip {
      .tooltip-inner {
        background: white;
        color: black;
      }
      .tooltip-arrow {
        display: none;
      }
    }

    .icon {
      fill: white;
      margin-left: 10px;
      margin-right: 10px;
      margin-top: 10px;
      margin-bottom: 10px;

      &:hover {
        fill: #a3afb7;
      }

      &.active {
        fill: #00ADF9;
      }
    }

    ul {
      padding-top: 10px;
      padding-bottom: 16px;

      li {
        span {
          color: white;
          border-left: 2px solid transparent;
          height: 25px;
          display: block;
          line-height: 2;
          padding-left: 5px;
          &:hover {
            color: #a3afb7;
          }

        }
      }
    }

    h5 {
      border-top: 1px solid white;
      padding-top: 16px;
      margin: 0;
      margin-right: 5px;
    }

    svg {
      fill: white;
    }

    li {
      .md-button {
        &.md-icon-button {
          margin: 0px 0px !important;
        }
      }
    }
  }
}

.sidebarRight {
  .sidebarRight-header{
    min-height: 44px;
    background: rgb(35, 44, 61);

    .title {
      margin: 0px;
      display: inline-block;
      position: absolute;
      top: 10px;
      left: 50px;
      color: white;
    }
  }

  .container{
    width: 320px;

    .tab-content {
      padding-top: 15px;

      h5 {
        margin: 0px;
        margin-bottom: 10px;
      }

      ul {
        padding: 0;
        li {
          padding-bottom: 5px;
        }
      }

      .ul-objects {
        display: flex;
        padding: 0;
        flex-flow: column;
        li {
          padding-bottom: 5px;
          padding-top: 5px;
          border-bottom: 1px solid black;
          font-size: 12px;
          .li-option {
            display: inline-flex;
            width: 30%;

            &.disabled {
              color: #a3afb7;
            }
            &.on {
              color: green;
            }
          }
        }
      }

      .chart {
        padding-bottom: 20px;
      }
    }

    .nav-tabs {
      border-bottom: 1px solid grey;
      background: white;
      li {
        display: inline-block;
        margin: 0px;
        float: inherit;
        a {
          color: #555;
        }

        &.active {
          a {
            font-weight: 500;
            border: 0;
            border-bottom: 2px solid #03a9db;
          }
        };
      }
    }
  }
}
